.calculator{
	margin-top: 100px;
	border: solid;
	border-width: 3px;
	padding-top: 30px;
	border-radius: 5px;
}
.buttons{
	margin : 10px;
	padding-left: 25px;
}
#idequal{
	}
#ac{
	padding-left: 23px;

	padding-right: 22px;
}
#del{
	padding-left: 23px;
	padding-right: 22px;	
}

.display{
	border: solid;
	border-radius: 5px;
	width: 310px;
	height: 40px;
	margin-left: 30px;
}
.no{
background-color: #008CBA; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    border-radius: 8px;
    text-decoration: none;
    display: inline-block;


    font-size: 16px;
}

.no:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
